<div class="content">
  <span>{{title}} app is running!</span>
</div>


CITY: <input type="text" [(ngModel)]="city">
{{city}}

{{cities|json}}

<button (click)="add()">add</button>

<app-child>
  <h1>{{title}}</h1>
  <button>submit</button>
</app-child>


<div>abc</div>
<ng-container>def</ng-container>
<br>


<ng-container *ngTemplateOutlet="true?one:two"></ng-container>

<ng-template #one>form one</ng-template>
<ng-template #two>form two</ng-template>





<!-- <h1 appImg (click)="submit()"></h1> -->

<input appSeven type="number">


<input appSeven type="number">


<input appSeven type="number">

<h1 *ngFor="let num of data|async">{{num}}</h1>


<div>HELOOOOOOOOOO</div>
<ng-container>HIIIIIIIIIIIIII</ng-container>


<div *ngIf="">
  <label for=""></label>
  <input type="text">
</div>